@using System.Text.Json
@using Data
@inject AppDataService.Services.AppData AppData
@inject IJSRuntime jsRuntime


<div style="margin-bottom: 2%">
    <h3 style="color: red">@race.GetProperty("PositionName").ToString()</h3>
    <p style="border-bottom: solid 1px gray; padding-bottom: 15px;">For this election, please select
        <b>@race.GetProperty("NumberNeeded").GetInt16()</b> candidate</p>
    <table style="width:100%">
        <tr style="border-bottom: solid 1px gray;">
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Picture</th>
            <th>Biography</th>
            <th></th>
        </tr>
        @foreach (var candidate in race.GetProperty("Candidates").EnumerateArray())
        {
            var id = "C" + candidate.GetProperty("CandidateId").ToString();
            var fullName = candidate.GetProperty("Name").ToString().Split(" ");
            var firstName = fullName[0];
            var lastName = "";
            if (fullName.Length > 1)
            {
                lastName = fullName[1];
            }
            var image = "https://vote-cms.azurewebsites.net/" + candidate.GetProperty("Picture").ToString();
            var bio = "";
            foreach (var detail in candidate.GetProperty("Details").EnumerateArray())
            {
                if (detail.GetProperty("Title").ToString().Equals("Biography"))
                {
                    bio = detail.GetProperty("Text").ToString();
                }
            }
            <tr style="border-bottom: solid 1px gray">
                <td style="padding: 10px;">@firstName</td>
                <td style="padding: 10px;">@lastName</td>
                <td style="padding: 10px;"><img src=@image></td>
                <td style="padding: 10px;">@bio</td>
                @* <text>noEvents</text> *@
                <td style="padding: 10px;"><button id="@id" type="button" class="btn btn-secondary"
                        @onclick="@(e => handleClick(firstName, lastName, image, bio, id))">Select</button></td>
            </tr>
        }

    </table>
</div>

@code {
    [Parameter]
    public JsonElement race { get; set; }

    private async void handleClick(string first, string last, string image, string bio, string id)
    {
        Person p1 = new Person();

        await jsRuntime.InvokeAsync<object>("accessDOMElement", id);

        if (race.GetProperty("PositionName").ToString() == "Mayor")
        {
            if (AppData.mayor.id == id)
            {

                AppData.mayor = new Person();

            }
            else
            {

                p1.id = id;
                p1.firstName = first;
                p1.lastName = last;
                p1.image = image;
                p1.bio = bio;
                AppData.mayor = p1;
            }
        }
        else if (race.GetProperty("PositionName").ToString() == "Councillor")
        {
            if (AppData.councillor.Exists(x => x.id == id))
            {

                var index = AppData.councillor.FindIndex(x => x.id == id);

                AppData.councillor.RemoveAt(index);

            }
            else if (AppData.councillor.Count < 10)
            {

                p1.id = id;
                p1.firstName = first;
                p1.lastName = last;
                p1.image = image;
                p1.bio = bio;
                AppData.councillor.Add(p1);
            }
            else
            {
                AppData.councillor.RemoveAt(0);
                p1.id = id;
                p1.firstName = first;
                p1.lastName = last;
                p1.image = image;
                p1.bio = bio;
                AppData.councillor.Add(p1);
            }

        }
        else if (race.GetProperty("PositionName").ToString() == "Park Board commissioner")
        {
            if (AppData.park.Exists(x => x.id == id))
            {

                var index = AppData.park.FindIndex(x => x.id == id);

                AppData.park.RemoveAt(index);

            }
            else if (AppData.park.Count < 7)
            {

                p1.id = id;
                p1.firstName = first;
                p1.lastName = last;
                p1.image = image;
                p1.bio = bio;
                AppData.park.Add(p1);
            }
            else
            {
                AppData.park.RemoveAt(0);
                p1.id = id;
                p1.firstName = first;
                p1.lastName = last;
                p1.image = image;
                p1.bio = bio;
                AppData.park.Add(p1);
            }

        }
        else if (race.GetProperty("PositionName").ToString() == "School trustee")
        {

            if (AppData.school.Exists(x => x.id == id))
            {


                var index = AppData.school.FindIndex(x => x.id == id);

                AppData.school.RemoveAt(index);

            }
            else if (AppData.school.Count < 9)
            {

                p1.id = id;
                p1.firstName = first;
                p1.lastName = last;
                p1.image = image;
                p1.bio = bio;
                AppData.school.Add(p1);
            }
            else
            {
                AppData.school.RemoveAt(0);
                p1.id = id;
                p1.firstName = first;
                p1.lastName = last;
                p1.image = image;
                p1.bio = bio;
                AppData.school.Add(p1);
            }
        }
    }


}